$bg_color:#0F3657;
$txt_color:white;
$txt_hgt:18px;
$width:100%;



@mixin flex($justify:space-evenly,$align:stretch,$direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: wrap;
}

@mixin grid($justify:center,$align:start /*,$align_content:center*/,$direction:row,){
    display: grid;
    justify-content: $justify;
    align-items: $align;
   /* align-content: $align_content; */
    grid-auto-flow: $direction;
    grid-template: minmax(50px,350px) minmax(50px,450px) minmax(50px,250px)/minmax(50px,250px) minmax(100px,450px)  minmax(50px,350px);
    gap:0 2px;
    
}



@mixin img_størrelse($width:auto,$height:auto){
    width:$width;
    height:$height;
    
}

@mixin h1_txt($color:#E86992) {
font-family:"orbitron" ;
font-weight: 650;
font-style: normal;
text-align: center;
font-size:45px;
color:$color;
}

@mixin h2_txt($color:#AFBC88) {
font-family:"orbitron" ;
font-weight: 480;
font-style: normal;
text-align: center;
font-size:35px;
color:$color;
}

@mixin h3_txt($color:#AFBC88,$txt_align:center){
font-family:"orbitron" ;
font-weight: 180;
font-style: normal;
text-align: $txt_align;
font-size:22px;
color:$color;


}

@mixin h4_txt($color:#E86992){
font-family:"orbitron" ;
font-weight: 180;
font-style: normal;
text-align: center;
font-size:16px;
color:$color;
}

@mixin sect_margin($top:15px,$bottom:15px,$border:solid){
    margin-top: $top;
    margin-bottom: $bottom;
    border-top:none;
    border-bottom: $border 3px #E5D6D6;
    border-left: none;
   
}

@mixin avatar_billede ($height:auto,$width:300px){
           height:$height;
           width: $width;
          flex-basis: 25%;
          margin-bottom: 15px;
}
@mixin button($color:#AFBC88){
      width:50%;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: $color;
        font-weight: 900;
         line-height: 29px;
}