@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F3657;
  color: white;
  min-height: 100vh;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  min-height: 120px;
  font-size: 18px;
  width: 100%;
}
.menu .logo {
  width: auto;
  height: 95px;
  position: absolute;
  left: 5px;
  top: 20%;
}
.menu button {
  position: absolute;
  right: 20px;
  top: 40%;
  height: 40px;
  width: 40px;
}
.menu .links_navigation ul {
  opacity: 0; /* det gør, at linker forsvinder */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  position: absolute;
  right: 25px;
  top: 30%;
  border: solid 1px #E86992;
  padding: 10px 17px;
  border-radius: 10px;
}
.menu .links_navigation ul a {
  text-decoration: none;
  color: white;
  padding-right: 12px;
}
.menu .links_navigation ul .intern_navigation {
  background-color: rgba(0, 0, 128, 0.2);
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 3px;
  margin-top: 30px;
  border: none;
  left: 0px;
}
.menu .links_navigation ul .intern_navigation li:first-of-type {
  padding-top: 5px;
}
.menu .links_navigation ul .intern_navigation li:last-of-type {
  padding-bottom: 5px;
}
.menu .links_navigation ul .intern_navigation li {
  padding-top: 3px;
}
.menu .links_navigation ul #mom_intern_navigation:hover .intern_navigation {
  opacity: 100%;
}

/* menu ends */
.banner {
  width: 100%;
  height: 370px;
  background: url(../IMG/first_picture.jpg) no-repeat center center/cover;
}
.banner h1 {
  padding-top: 7%;
  font-family: "orbitron";
  font-weight: 650;
  font-style: normal;
  text-align: center;
  font-size: 45px;
  color: #E86992;
  -webkit-text-stroke: 0.5px white;
}
.banner h2 {
  padding-top: 10px;
  font-family: "orbitron";
  font-weight: 480;
  font-style: normal;
  text-align: center;
  font-size: 35px;
  color: #AFBC88;
  -webkit-text-stroke: 0.4px white;
}

/*---------------------------*/
main {
  width: 100%;
}
main .first_sect {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: none;
  border-bottom: solid 3px #E5D6D6;
  border-left: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main .first_sect .image {
  width: 140px;
  height: auto;
  align-self: center;
}
main .first_sect h3 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 22px;
  color: #AFBC88;
}
main .first_sect .txt_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 70%;
  margin-bottom: 10px;
}
main .second_sect {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: none;
  border-bottom: solid 3px #E5D6D6;
  border-left: none;
}
main .second_sect .txt_section h3 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 22px;
  color: #AFBC88;
}
main .second_sect .txt_section p {
  padding-right: 10%;
  padding-left: 10%;
}
main .second_sect .tre_boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 9px;
  margin-right: 15px;
  margin-left: 10px;
}
main .second_sect .tre_boxes .single_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  min-height: 180px;
  flex-grow: 1;
  flex-shrink: 2;
  margin: 10px;
  flex-basis: 250px;
}
main .second_sect .tre_boxes .single_box h4 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  color: #E86992;
}
main .second_sect .tre_boxes .single_box button {
  margin-top: 7px;
  width: 60%;
  height: 30px;
  background-color: #AFBC88;
  border-radius: 5px;
}
main .second_sect .tre_boxes .single_box:last-of-type {
  margin-bottom: 10px;
}
main {
  /* the 3rd,5th section has the samme setting as the first section, therefore it was given the class:first section */
}
main .fourth_sect .box_inde_sect4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main .sixth_sect p {
  align-self: center;
}
main .sixth_sect h4 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  color: #E86992;
  margin-bottom: 3px;
  margin-top: 3px;
}
main .seventh_sect {
  margin: 10px;
  display: grid;
  justify-content: center;
  align-items: start;
  /* align-content: $align_content; */
  grid-auto-flow: row;
  grid-template: minmax(50px, 350px) minmax(50px, 450px) minmax(50px, 250px)/minmax(50px, 250px) minmax(100px, 450px) minmax(50px, 350px);
  gap: 0 2px;
  max-height: 400px;
}
main .seventh_sect .image_grid {
  width: 100px;
  height: 120px;
}
main .seventh_sect .child_1 {
  grid-area: 1/1/2/2;
  justify-self: stretch;
  margin-top: 20px;
  margin-left: 10px;
}
main .seventh_sect .child_2 {
  grid-area: 3/1/4/2;
  justify-self: stretch;
  margin-top: -150px;
  margin-left: 10px;
}
main .seventh_sect .child_3 {
  grid-area: 2/2/3/3;
}
main .seventh_sect .child_3 .image_grid {
  width: 250px;
  height: 170px;
}
main .seventh_sect .child_3 {
  z-index: 1;
  justify-self: center;
}
main .seventh_sect .child_3 h3 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 22px;
  color: #E86992;
}
main .seventh_sect .child_4 {
  grid-area: 1/3/2/4;
  justify-self: stretch;
  margin-top: 20px;
  margin-right: 10px;
}
main .seventh_sect .child_5 {
  grid-area: 3/3/4/4;
  justify-self: stretch;
  margin-top: -150px;
  margin-right: 10px;
}
main .forgrenet_sect {
  width: 100%;
  background-color: #636161;
  margin-top: 650px;
}
main .forgrenet_sect .explanation {
  text-align: center;
  padding: 15px;
}
main .forgrenet_sect .explanation h3 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 22px;
  color: #AFBC88;
  -webkit-text-stroke: 0.4px rgb(231, 221, 221);
}
main .forgrenet_sect .explanation h4 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  color: #E86992;
  -webkit-text-stroke: 0.2px rgb(231, 221, 221);
  padding-top: 15px;
}
main .forgrenet_sect .options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main .forgrenet_sect .options .avatar_billede {
  height: auto;
  width: 300px;
  flex-basis: 25%;
  margin-bottom: 15px;
}
main .forgrenet_sect .options .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main .forgrenet_sect .options .buttons .single_btn {
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  flex-grow: 1;
  padding: 15px;
}
main .forgrenet_sect .options .buttons {
  flex-basis: 75%;
}
main .resulteter_sect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main .resulteter_sect .avatar_billede {
  height: auto;
  width: 300px;
  flex-basis: 25%;
  margin-bottom: 15px;
  flex-basis: 25%;
}
main .resulteter_sect .txt_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 70%;
  margin: 10px;
}
main .resulteter_sect .txt_section button {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #AFBC88;
  font-weight: 900;
  line-height: 29px;
}
main .resulteter_sect .txt_section h3 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 22px;
  color: #E86992;
}
main {
  /* new*/
}
main .stage {
  background-color: #636161;
  margin-top: 700px;
  display: none;
  /*margin: 0 auto;
  max-width: 800px;
  padding: 1rem; */
}
main .stage.active {
  display: block;
}
main {
  /*---------------------------*/
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .social_media {
  margin-bottom: 30px;
}
footer .social_media h3 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: left;
  font-size: 22px;
  color: #AFBC88;
  padding-left: 20px;
  margin-bottom: 20px;
}
footer .social_media .logo_footer {
  width: auto;
  height: 100px;
}
footer .social_media .ikon_sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .social_media .ikon_sect .ikon {
  width: auto;
  height: 50px;
  padding-right: 10px;
}
footer .social_media .ikon_sect {
  /*  .media_ikons_sect{
       @include partial.flex($justify:center,$align:flex-end,$direction:row);  
    } */
}
footer .social_media .e-mail_sect {
  margin-bottom: 15px;
}
footer .social_media .e-mail_sect .ikon {
  height: 35px;
}
footer .nyhedsbrev {
  border: dotted 1px grey;
  height: 100%;
  padding: 20px 20px 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .nyhedsbrev h4 {
  font-family: "orbitron";
  font-weight: 180;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  color: #AFBC88;
  padding-bottom: 5px;
}
footer .nyhedsbrev p {
  margin-bottom: 10px;
}
footer .nyhedsbrev input[type=text] {
  margin-bottom: 10px;
  width: 60%;
  line-height: 24px;
  border-radius: 5px;
}
footer .nyhedsbrev button {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #E86992;
  font-weight: 900;
  line-height: 29px;
}

/*media queries */
/*tablet og mobil */
@media screen and (min-width: 767px) { /* fra 767 op */
  .menu button {
    opacity: 0;
  }
  .menu ul:first-of-type {
    opacity: 100%;
  }
  .menu ul:last-of-type {
    opacity: 100%;
  }
}/*# sourceMappingURL=style.css.map */